<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.name %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
        <%= link_to 'Delete', [@movie, review], class: 'button',
          data: { turbo_method: :delete } %>
        <%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'button' %>
      </p>
      <p>
        <%= review.comment %>
      </p>

  <% end %>
</ul>